<div class="auth-wrapper">
  <div class="auth-content text-center">
    <img src="../../../../../assets/images/bRIOT_Logo.png" alt="" class="img-fluid mb-4">
    <div class="card borderless">
      <div class="row align-items-center text-center">
        <div class="col-md-12">
          <form [formGroup]="loginForm">
            <div class="card-body">
              <h4 class="mb-3 f-w-400">Signin</h4>
              <div class="input-group mb-3 form-control">
                <mat-form-field >
                  <input type="text" matInput [(ngModel)]="username" formControlName="username" placeholder="Username" autofocus autocomplete="off" required>
                </mat-form-field>
              </div>
              <div class="input-group mb-4 form-control">
                <mat-form-field >
                  <input type="password" matInput [(ngModel)]="password" formControlName="password" placeholder="Password" autocomplete="off" required>
                </mat-form-field>
              </div>
              <!-- <div class="form-group text-left mt-2">
              <div class="checkbox checkbox-primary d-inline">
                <input type="checkbox" name="checkbox-fill-1" id="checkbox-fill-a1" checked="">
                <label for="checkbox-fill-a1" class="cr"> Save credentials</label>
              </div>
            </div> -->
              
              <button mat-raised-button (click)="login()" class="btn btn-block btn-primary mb-4" type="submit">Login</button>
              <!-- <p class="mb-2 text-muted">Forgot password? <a [routerLink]="['/auth/reset-password']" class="f-w-400">Reset</a></p>
            <p class="mb-0 text-muted">Don’t have an account? <a [routerLink]="['/auth/signup']" class="f-w-400">Signup</a></p> -->
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>